---
layout: compress
---
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    {% assign blog_posts = site.posts | where_exp: "post", "post.project != true" %}
                    {% if blog_posts.size == 0 %}
                    <p class="post-list-empty">No posts yet. Check back later, or browse <a href="{{ site.url }}/projects/">projects</a> and <a href="{{ site.url }}/cv/">CV</a>.</p>
                    {% else %}
                    {% for post in blog_posts %}
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                            <p>{{ post.excerpt }}</p>
                            <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">Read More</a>
                        </li>
                    </ul>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
